.widgets {
  flex: 0.3;
  overflow-y: scroll;
}
.widgets::-webkit-scrollbar {
  display: none;
}
.widgets_input {
  display: flex;
  align-items: center;
  background-color: var(--campus-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.widgets_input > input {
  border: none;
  background-color: var(--campus-background);
  font-size: 15px;
}
.widgets_input > input:focus {
  outline: none;
}
.widgets_searchIcon {
  color: black;
}
.widgets_widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}
.widgets_widgetContainer > h2 {
  font-size: 18px;
  font-weight: 700;
}

.widgets_widgetContainer > p {
  color: gray;
  font-size: 14px;
}

.widgets_widgetContainer > img {
  float: left;
  height: 50px;
  width: 50px;
  padding-right: 10px;
  border-radius: 50%;
}
